<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:20:49Z</date>
		<key>actualSize</key>
		<integer>51067</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:48Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:32:13Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:28Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>CA73CBFF-55F1-4861-AF98-5A8B81D5967D</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:32:13Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/maple-valley/images/maple-valley-header.jpg</string>
		<key>originalSize</key>
		<integer>51067</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>7D270A39-65E3-421E-8BA3-A8D1958D95FB</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
