<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:16:49Z</date>
		<key>actualSize</key>
		<integer>17327</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:16:49Z</date>
		<key>createDate</key>
		<date>2007-10-09T18:33:37Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:10Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>764FB3DC-3709-4341-811E-094CA9595831</string>
		<key>lastModifiedDate</key>
		<date>2007-10-09T18:33:37Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/pd/images/photo1.jpg</string>
		<key>originalSize</key>
		<integer>17327</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>EBAB793F-0368-4D59-B3E2-4A58956D76A5</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
