<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:16:49Z</date>
		<key>actualSize</key>
		<integer>12817</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:16:49Z</date>
		<key>createDate</key>
		<date>2007-10-09T18:33:39Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:10Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>34F56499-1B5B-4D65-B0A8-A17F8C19E159</string>
		<key>lastModifiedDate</key>
		<date>2007-10-09T18:33:39Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/pd/images/photo_tn.jpg</string>
		<key>originalSize</key>
		<integer>12817</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>BA523284-01A3-48E5-BC77-4A92C1F7B462</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
