<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:17:15Z</date>
		<key>actualSize</key>
		<integer>2275</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:17:16Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:33:15Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:31Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>BFB50EB4-45AE-4D7B-8CEA-B3C1C2B3C20D</string>
		<key>lastModifiedDate</key>
		<date>2007-10-31T00:39:44Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/wellness/old-10-30/mental-health.php</string>
		<key>originalSize</key>
		<integer>2275</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>D41AABFF-739A-4D6B-AAE9-16CB491A9673</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
