<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:55Z</date>
		<key>actualSize</key>
		<integer>7411</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:55Z</date>
		<key>createDate</key>
		<date>2007-10-02T17:03:20Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:33Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>D83CFD9F-66C2-42D8-BCC0-D6ADEE633CB1</string>
		<key>lastModifiedDate</key>
		<date>2009-09-29T18:28:48Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/request-brochure.php</string>
		<key>originalSize</key>
		<integer>7411</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>B5854BBD-5CDE-46D8-A9E7-CF26A4003C51</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T23:43:51Z</date>
		<key>actualSize</key>
		<integer>7510</integer>
		<key>attributeModDate</key>
		<date>2010-02-04T23:48:21Z</date>
		<key>createDate</key>
		<date>2007-10-02T17:03:20Z</date>
		<key>creationDate</key>
		<date>2010-02-11T20:00:38Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>4C9C68AB-CB68-475E-933A-C3C75F9BE06F</string>
		<key>lastModifiedDate</key>
		<date>2010-02-04T22:54:22Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/request-brochure.php</string>
		<key>originalSize</key>
		<integer>7510</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>7EF20A11-0F2F-47B8-8A7E-F27A72C5445E</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
