<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:55Z</date>
		<key>actualSize</key>
		<integer>4155</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:55Z</date>
		<key>createDate</key>
		<date>2007-09-21T19:06:37Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:33Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>3FEEDE2D-615A-4D74-BC66-020FE48F0EB6</string>
		<key>lastModifiedDate</key>
		<date>2008-07-24T16:42:51Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/index.php</string>
		<key>originalSize</key>
		<integer>4155</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>8061410E-FCE3-4CBA-AA46-8CD270D4819D</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>accessDate</key>
		<date>2010-02-10T22:56:58Z</date>
		<key>actualSize</key>
		<integer>4254</integer>
		<key>attributeModDate</key>
		<date>2010-02-10T22:42:08Z</date>
		<key>createDate</key>
		<date>2007-09-21T19:06:37Z</date>
		<key>creationDate</key>
		<date>2010-02-11T20:00:37Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>AB7A673E-BCB3-4C27-ACC5-127206F620AA</string>
		<key>lastModifiedDate</key>
		<date>2010-02-04T08:16:02Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/index.php</string>
		<key>originalSize</key>
		<integer>4254</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>645CF714-A00F-47F3-965C-10279A7926CD</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
