<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:55Z</date>
		<key>actualSize</key>
		<integer>3316</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:55Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:32:23Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:33Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>675C0D54-3FBC-4FC0-80E5-502130D4AC6F</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:32:23Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/slideshow.php</string>
		<key>originalSize</key>
		<integer>3316</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>1EF061B6-9484-4D7C-882D-C5B64C3FBE39</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T23:50:23Z</date>
		<key>actualSize</key>
		<integer>3405</integer>
		<key>attributeModDate</key>
		<date>2010-02-04T23:50:58Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:32:23Z</date>
		<key>creationDate</key>
		<date>2010-02-11T20:00:38Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>129F4486-0133-44E2-AF08-5A747AE22641</string>
		<key>lastModifiedDate</key>
		<date>2010-02-04T22:54:47Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/slideshow.php</string>
		<key>originalSize</key>
		<integer>3405</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C0255FDD-DF17-418F-8380-7BB9BD8033F7</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
