<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:50Z</date>
		<key>actualSize</key>
		<integer>48038</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:50Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:32:18Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:33Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>FBED7C17-F414-4E9F-8CAC-5ACE66F1694E</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:32:18Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/normandy-park/images/big-slideshow/NomPk-TV-room-detail.jpg</string>
		<key>originalSize</key>
		<integer>48038</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>8B0B4E66-0BAA-4DCA-BA77-801544E8396F</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
