<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:39Z</date>
		<key>actualSize</key>
		<integer>41219</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:39Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:31:46Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:10:54Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>F11B16E5-2C06-45BA-9F82-03444E385CAB</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:31:46Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/colville/images/big-slideshow/WEB-Parkview-crafts-area.jpg</string>
		<key>originalSize</key>
		<integer>41219</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>E5183D34-7588-4CE9-9A39-54D3C6F74B33</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
