<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:16:50Z</date>
		<key>actualSize</key>
		<integer>56453</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:16:50Z</date>
		<key>createDate</key>
		<date>2007-10-09T18:33:43Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:10Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>BD9F2FCE-D096-4567-8FA9-33308C8DE7FD</string>
		<key>lastModifiedDate</key>
		<date>2007-10-09T18:33:43Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/pd/midi/pinkpanther.mid</string>
		<key>originalSize</key>
		<integer>56453</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>F2C3907C-143B-499F-B899-E89FC90C895B</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
