<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:21:13Z</date>
		<key>actualSize</key>
		<integer>41375</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:16:11Z</date>
		<key>createDate</key>
		<date>2007-08-31T14:09:30Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:37Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DFFA7084-5952-4B0D-A24D-D827B836CCEE</string>
		<key>lastModifiedDate</key>
		<date>2007-08-31T14:09:30Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/washougal/images/big-slideshow/hall.jpg</string>
		<key>originalSize</key>
		<integer>41375</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>62B16BBE-0DC1-48BD-8CC2-CEE508AA88E1</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
