<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:38Z</date>
		<key>actualSize</key>
		<integer>2227</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:38Z</date>
		<key>createDate</key>
		<date>2008-10-13T00:16:50Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:10:54Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>B49E52DA-DFD6-4AF7-AC05-41854840931F</string>
		<key>lastModifiedDate</key>
		<date>2008-10-13T00:16:50Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/living-options/images/memory-care/memory-care_05.gif</string>
		<key>originalSize</key>
		<integer>2227</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>67953699-14EE-45DE-8581-465169E29BB1</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
