<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:17:14Z</date>
		<key>actualSize</key>
		<integer>18987</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:17:14Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:33:13Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:29Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>2986CEF1-841D-4B5A-82A8-B261FF7DEE6B</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:33:13Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/wellness/images/garden.jpg</string>
		<key>originalSize</key>
		<integer>18987</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>7E5AAC14-8DFC-43A4-AED0-50A72CEB463E</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
