<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:17:14Z</date>
		<key>actualSize</key>
		<integer>27157</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:17:14Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:33:13Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:29Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>9FD3AB81-D0C7-4112-B11D-039A78E68540</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:33:13Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/wellness/images/physical-E004060.jpg</string>
		<key>originalSize</key>
		<integer>27157</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>E35ECA03-358D-4981-B3F6-1A4D391178F1</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
