<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:17:16Z</date>
		<key>actualSize</key>
		<integer>3699</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:17:16Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:33:15Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:29Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>D23A6619-6B94-4F95-A00B-C5FCF0B8E372</string>
		<key>lastModifiedDate</key>
		<date>2008-03-14T21:19:10Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/wellness/spirituality.php</string>
		<key>originalSize</key>
		<integer>3699</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C63FD9CF-A06A-4994-9A0E-A0A587D2F7C7</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
