<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:34Z</date>
		<key>actualSize</key>
		<integer>4370</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:34Z</date>
		<key>createDate</key>
		<date>2008-10-10T16:22:13Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:10:21Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>EADEE0F4-5C95-4ED7-B190-099013EDDA76</string>
		<key>lastModifiedDate</key>
		<date>2008-10-10T16:22:13Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/index.php</string>
		<key>originalSize</key>
		<integer>4370</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>65EF79A7-E628-4582-B5E0-61F9DE51AD54</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T08:10:28Z</date>
		<key>actualSize</key>
		<integer>4457</integer>
		<key>attributeModDate</key>
		<date>2010-02-04T08:10:42Z</date>
		<key>createDate</key>
		<date>2008-10-10T16:22:13Z</date>
		<key>creationDate</key>
		<date>2010-02-11T20:00:37Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DCDBFE4A-9CF1-4CC8-8C9D-9A11805B85C8</string>
		<key>lastModifiedDate</key>
		<date>2010-02-04T08:04:13Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/index.php</string>
		<key>originalSize</key>
		<integer>4457</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>902A7398-4B48-4B24-8416-1B2E4AF5466F</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
