<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:17:18Z</date>
		<key>actualSize</key>
		<integer>13541</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:17:18Z</date>
		<key>createDate</key>
		<date>2006-04-29T10:18:20Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:34Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>1D6D51D1-2D8C-4A79-80C0-70C386170B57</string>
		<key>lastModifiedDate</key>
		<date>2006-04-29T10:18:20Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/sh_includes/PEAR/Command/Registry.php</string>
		<key>originalSize</key>
		<integer>13541</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>71CBDA12-6ACC-48B2-B219-E5D7846B5B2B</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
