<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:16:20Z</date>
		<key>actualSize</key>
		<integer>25997</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:16:21Z</date>
		<key>createDate</key>
		<date>2007-08-31T04:49:32Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:37Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>B1BA69D4-C693-4F9E-82DE-16C15082E0EA</string>
		<key>lastModifiedDate</key>
		<date>2007-08-31T04:49:32Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/washougal/images/slides/grass.jpg</string>
		<key>originalSize</key>
		<integer>25997</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>230320A4-F7E6-4008-A104-6474A8A53663</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
