<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:44Z</date>
		<key>actualSize</key>
		<integer>788</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:44Z</date>
		<key>createDate</key>
		<date>2008-10-11T01:42:21Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:20Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>B20B5BA4-F949-4A2F-9AB0-372BF926F3E1</string>
		<key>lastModifiedDate</key>
		<date>2008-10-11T01:42:21Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/images/map/colville-wa.gif</string>
		<key>originalSize</key>
		<integer>788</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>1298486113</integer>
				<key>fileType</key>
				<integer>1195984486</integer>
				<key>id</key>
				<string>8C56F24F-ECC7-4D23-927B-A8971D1960C7</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
