<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:16:47Z</date>
		<key>actualSize</key>
		<integer>71280</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:16:47Z</date>
		<key>createDate</key>
		<date>2007-11-13T05:41:08Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:07Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>1A3EADE3-13CA-4767-8A7A-440FE5C8659F</string>
		<key>lastModifiedDate</key>
		<date>2007-11-13T05:41:08Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/images/pd/physical-health.jpg</string>
		<key>originalSize</key>
		<integer>71280</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>943868237</integer>
				<key>fileType</key>
				<integer>1246774599</integer>
				<key>id</key>
				<string>D1D41969-1A00-46F1-B228-F053116CC141</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
