<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:16:43Z</date>
		<key>actualSize</key>
		<integer>48819</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:16:43Z</date>
		<key>createDate</key>
		<date>2007-11-13T05:39:08Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:12:07Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>354F0B8F-3B97-463D-8598-1A2DD1B0FB15</string>
		<key>lastModifiedDate</key>
		<date>2007-11-13T05:39:09Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/images/pd/brain-power.jpg</string>
		<key>originalSize</key>
		<integer>48819</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>943868237</integer>
				<key>fileType</key>
				<integer>1246774599</integer>
				<key>id</key>
				<string>FED738A6-9A71-4AC3-9B83-270977ADAA7F</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
