<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:16:41Z</date>
		<key>actualSize</key>
		<integer>6475</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:16:41Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:32:35Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:53Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>66ECF922-F265-47BE-BD7A-FC5523BEA925</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:32:35Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/css/old/default copy.css</string>
		<key>originalSize</key>
		<integer>6475</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>298F85D0-71C0-4F60-8FC0-57B3BE846AB1</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
