
html { font-size: 100% }
body              { color: #e6ffa9; font-size: 0.95em; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, "Trebuchet MS"; font-style: normal; line-height: 1.4; background: #7dad6a url(images/common/bkgrd_pattern.gif) left top; text-align: center; right: 700px }
.wrapper {
position:relative;
margin:0 auto;
text-align:left;
width:700px;
}
a img { border-width: 0; border: none;}
#nav_image              { margin: 0; padding: 0; position: relative; top: 2px; left: 36px; width: 700px; height: 80px; float: none; border-width: 0; outline-width: 0 }
#nav_image-print  { display: none; margin: 0; padding: 0; position: relative; top: 2px; left: 36px; width: 700px; height: 80px; float: none; border-width: 0; outline-width: 0 }
#floatL  { margin-right: 10px; padding-top: 5px; padding-right: 0; padding-bottom: 5px; float: left }
ul  { list-style-type: disc; list-style-position: outside; margin: 0 0 1.5em 15px; padding-left: 10px }
.sm-font { font-size: 0.85em }
#floatR { padding-top: 5px; padding-bottom: 5px; padding-left: 10px; float: right }
#left-column   { background-color: #fff; position: relative; width: 200px; height: inherit; float: left }
table.invisible { width: 100%; height: auto; border: 0 }
td.left-column { width: 170px }
#right-column  { background-color: #fff; position: relative; width: 410px; height: auto; float: right }
img.border { margin: 0; padding: 0; border: solid 2px #5b3e1c; outline-width: 0 }
img.margin { padding: 0 0 20px; outline-width: 0 }
a.dk_blue    { color: #036783; font-family: arial, verdana, helvetica, sans-serif; font-style: normal; text-decoration: none }
a:hover.dk_blue { color: #970f00; font-family: arial, verdana, helvetica, sans-serif; font-style: normal; text-decoration: underline }
#inline_list  { margin: 2em; padding: 5px; border: 0 }
a:hover.nav { color: #fff; font-weight: bold; text-decoration: none }
ul.blue_menu  { list-style-type: none; margin: 0; padding: 0 }
li.blue_menu-main  { position: relative; width: 10em; float: left }
li.pos_1
   { display: inline; position: absolute; top: 130px; left: 30px }
a.Bnav /* lower navigator */      { color: #e6ffa9; font-size: 0.8em; font-family: arial, verdana, helvetica, sans-serif; font-style: normal; text-decoration: none }
a:hover.Bnav { color: #fff; font-family: arial, verdana, helvetica, sans-serif; font-style: normal; text-decoration: underline }
a.text-size  { color: #e6ffa9; font-family: arial, verdana, helvetica, sans-serif; text-decoration: none }
a:hover.text-size { color: #fff; text-decoration: underline }
li.Bpos_1        { display: inline; margin: 0; padding: 0; position: relative; top: 50px; left: 200px }
#B_rule      { background-image: url(../../sfstandup/web-content/images/orange.gif); background-repeat: repeat-x; background-position: 0 0; margin: 50px 0 0; padding: 0; position: relative; top: 0; left: 0; width: 700px; height: 1px; float: none; border-width: 0; outline-width: 0 }
#rule-blue      { font-size: 0; background-color: #93c7ce; margin: 5px 0 10px; padding: 0; width: 660px; height: 2px; overflow: hidden }
#copyright     { color: #e6ffa9; font-size: 0.8em; font-family: arial, verdana, helvetica, sans-serif; font-style: normal; text-decoration: none; text-align: center; margin: 5px 0 0; padding: 0 0 10px; position: relative; top: 0; left: 7px; border-width: 0; outline-width: 0 }
#text-size  { text-align: right; margin: 0; padding: 0; position: relative; top: 0; right: 36px; width: 700px }
#sizer { text-align: right; margin: 0; padding: 0; position: relative; top: 0; right: 36px; width: 700px }
#footer { text-align: center; margin: 0; padding: 0; position: relative; top: 0; width: 700px }
#white_bkgrd          { color: #3f5b1f; background-color: #fff; margin: 0; padding: 0; position: relative; z-index: 2; top: -4px; left: 0; width: 700px }
#content    { color: #3f5b1f; background-color: #fff; margin: 0; padding: 0; position: relative; top: 0; right: 20px; left: 20px; width: 660px; height: inherit }
#main_nav  { background-color: #fff; margin: 0; padding: 0; position: relative; z-index: 10; right: 20px; bottom: 30px; left: 20px; width: 660px; height: inherit }
#main_nav-index { background-color: #fff; margin: 0; padding: 0; position: relative; z-index: 10; top: 0; right: 20px; left: 20px; width: 660px; height: inherit }
#no_float p { position: relative; left: 15px; width: 690px }
#content_mics { position: relative; top: 300px; left: 0; width: 720px }
h1  { color: #3f5b1f; font-size: 1.3em; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, "Trebuchet MS"; font-weight: bold; text-align: left; margin: 0; padding: 0 0 3px; position: relative; left: 0 }
h1.venue { color: #99f; font-size: 1.3em; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, "Trebuchet MS"; font-weight: bold; background-color: #006; text-align: center; padding-top: 3px; padding-bottom: 3px; padding-left: 10px; position: relative; left: 15px; width: 680px }
h2   { color: #3f5b1f; font-size: 1em; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, "Trebuchet MS"; font-weight: bold; text-align: left; margin: 0; padding: 0 0 3px; position: relative; left: 0 }
h3 { color: #3f5b1f; font-size: 1em; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, "Trebuchet MS"; font-weight: normal; text-align: left; margin: 0; padding: 0 0 3px; position: relative; top: -3px; left: 0 }
#sub_menu    { color: #036783; background-color: #ebfcfb; position: relative; z-index: 5; bottom: 30px; width: 700px; height: 1.5em; border-top: 1px solid #7dad6a }
#community-menu    { color: #036783; font-size: 0.9em; background-color: #ebfcfb; padding: 5px; position: relative; z-index: 2; width: 149px; border: solid 2px #93c7ce }
#anchor-links     { font-size: 0.9em; padding: 0; margin:0 0 18px; }
#news-menu  { color: #036783; font-size: 0.85em; background-color: #ebfcfb; padding: 5px; position: relative; z-index: 2; width: 149px; border: solid 2px #93c7ce }
#sub_menu a  { color: #036783; text-decoration: none; z-index: 5 }
#sub_menu a:hover  { color: #970f00; text-decoration: none; z-index: 5 }
#sub_menu ul   { list-style: none; margin: 0; padding: 0; position: static; z-index: 5; top: 2px; left: 0; border: none }
#sub_menu li     { font-size: 1em; margin: 0; padding:  10px 15px 0 15px; position: relative; z-index: 5; left: 0; width: auto; height: 1%; float: left }
#sub_menu li ul    { font-size: 1em; background-color: #ebfcfb; display: none; padding: 0 0 2px 10px; position: absolute; z-index: 4; top: 100%; left: 10px; width: 275%; border: solid 1px #93c7ce }
#sub_menu li li   { font-size: 1em; text-align: left; display: block; padding: 0; z-index: 3; float: none }
#sub_menu li>ul   { position: absolute; z-index: 4; top: 100%; left: 0 }
#sub_menu li:hover ul, #sub_menu li.over ul  { display: block; z-index: 4 }
#sub-nav { z-index: 4 }
#blue_menu  { color: #036783; z-index: 20 }
#blue_menu a  { color: #036783; text-decoration: none; z-index: 20 }
#blue_menu ul   { list-style: none; margin: 0; padding: 0; z-index: 20; border: none }
#relative-positioning  { margin: 0; padding: 0; position: relative; bottom: 30px }
#close-gap  { margin: 0; padding: 0; position: relative; bottom: 30px }
#close-gap-index { margin: 0; padding: 0; position: relative; bottom: 30px }
#close-gap-none { margin: 0; padding: 0 }
#relative-up40 { margin: 0; padding: 0; position: relative; bottom: 40px }
table.staff { color: #3f5b1f; font-size: 0.9em }
table.invisible { color: #3f5b1f; font-size: 1em }
td.staff-L { padding-right: 15px; padding-bottom: 20px; width: 315px; vertical-align: top }
td.staff-R { padding-bottom: 20px; padding-left: 15px; width: 315px; vertical-align: top }
#blue_menu li li a      { color: #036783; text-decoration: none; background-color: #ebfcfb; display: block; padding: 0; z-index: 20; height: 1% }
#blue_menu li li a:hover  { color: #970f00; text-decoration: underline; z-index: 20 }
#blue_menu li          { font-size: 1.4em; position: relative; z-index: 20; height: 1%; float: left }
#blue_menu li ul            { font-size: 0.7em; background-color: #ebfcfb; display: none; padding: 0 0 2px 10px; position: absolute; z-index: 20; top: 100%; left: 0; width: 11em; border: solid 1px #93c7ce }
#blue_menu li li          { font-size: 1em; text-align: left; display: block; padding: 0; z-index: 20; float: none }
#blue_menu li>ul   { position: absolute; z-index: 20; top: 100%; left: 0 }
#blue_menu li:hover ul, #blue_menu li.over ul { display: block; z-index: 20 }
#nav { z-index: 20 }
li#first    { text-align: left; position: relative; width: auto }
li#second  { text-align: left; margin-right: 7%; margin-left: 13%; position: relative; width: auto }
li#third  { text-align: left; margin-right: 15px; position: relative; width: auto; float: right }
li#indent   { list-style-type: none; position: relative; left: 10px; width: 90% }
li#food-indent  { list-style-type: decimal; position: relative; left: 30px }
p { margin: 0 0 1em }
ul.blue  { color: #036783; list-style-type: disc; margin: 0.5em 0 1em 0 }
.caption   { font-weight: bold; text-align: center; padding-top: 10px; padding-bottom: 0 }
A.Controls:link    { color:#666666;
                     text-decoration:none;
                     font-family: Arial;
                     font-size:   14pt;
                     font-weight: bold; }
A.Controls:visited { color:#666666; text-decoration:none; 
                     font-family: Arial;
                     font-size:   14pt;
                     font-weight: bold; }
A.Controls:active  { color:#666666; text-decoration:none;
                     font-family: Arial;
                     font-size:   14pt;
                     font-weight: bold; }
A.Controls:hover   { color:#00FF00; text-decoration:none;
                     font-family: Arial;
                     font-size:   14pt;
                     font-weight: bold; }
td.third  { padding-right: 15px; padding-left: 15px; width: auto }
#address      { color: #3f5b1f; font-size: 0.85em; font-weight: bold; background-color: #e6ffa9; padding: 5px; width: 140px; border: solid 2px #7dad6a }
#contact       { color: #3f5b1f; font-size: 0.95em; font-weight: bold; background-color: #e6ffa9; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; width: 250px; float: right; border: solid 2px #7dad6a }
.contact { font-size: 1.2em; text-decoration: underline }
.margin  { padding-right: 10px; padding-left: 10px }
.swish  { margin: 0; padding: 0; position: relative; z-index: 1; bottom: 4px }
#resources-box  { color: #036783; background-color: #ebfcfb; padding: 8px; width: 300px; border: solid 2px #93c7ce }
#tip-box { color: #036783; background-color: #ebfcfb; padding: 8px; width: 200px; border: solid 2px #93c7ce }
#tip-box-wide   { color: #036783; background-color: #ebfcfb; padding: 8px; width: 275px; border: solid 2px #93c7ce }
#request-box  { color: #3f5b1f; font-size: 0.85em; background-color: #e6ffa9; margin-left: 10px; padding: 10px; width: 425px; border: solid 2px #7dad6a }
#submit-box { color: #036783; background-color: #ebfcfb; padding: 8px; width: 300px; border: solid 2px #93c7ce }
#blue-box { color: #036783; background-color: #ebfcfb; padding: 4px; border: solid 2px #93c7ce }
