<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:16:41Z</date>
		<key>actualSize</key>
		<integer>258</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:16:41Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:33:17Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:53Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>D7D11AF7-05FF-485F-8783-79ADDF333654</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:33:17Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/css/small.css</string>
		<key>originalSize</key>
		<integer>258</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>BC40CE92-09F2-4ED8-9586-CBF7D04CDE12</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
