<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-25T21:07:14Z</date>
		<key>actualSize</key>
		<integer>11243</integer>
		<key>attributeModDate</key>
		<date>2010-01-25T19:27:46Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:33:17Z</date>
		<key>creationDate</key>
		<date>2010-01-27T01:15:55Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>933F7847-1DAA-425D-B71A-ABB2CD3D5AD4</string>
		<key>lastModifiedDate</key>
		<date>2010-01-25T19:27:46Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/css/artegan.css</string>
		<key>originalSize</key>
		<integer>11243</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>AEEEE0BA-F0A3-4F95-BA3D-40BA1A339E5D</string>
				<key>macAttributes</key>
				<integer>96</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>accessDate</key>
		<date>2010-02-11T05:53:38Z</date>
		<key>actualSize</key>
		<integer>13177</integer>
		<key>attributeModDate</key>
		<date>2010-02-11T05:55:04Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:33:17Z</date>
		<key>creationDate</key>
		<date>2010-02-11T20:24:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>AB1C8E4F-2309-4EA1-BDC0-F4AFB17B6394</string>
		<key>lastModifiedDate</key>
		<date>2010-02-10T23:01:03Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/css/artegan.css</string>
		<key>originalSize</key>
		<integer>13177</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>A7845EC8-F9DF-4C62-BB96-B97621ABD9B2</string>
				<key>macAttributes</key>
				<integer>96</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
