#content  { font-size: 0.85em;}
.sm-font { font-size: 1em }
table.staff {font-size: 1em }
#address      { font-size: 1em;}
#request-box  { font-size: 1em;}
#contact       {font-size: 1em;}
#community-menu     { font-size: 1em; }
#news-menu { font-size: 1em;}