/*-------------------------------------------*/
/*               Assess My Needs             */
/*-------------------------------------------*/

fieldset#assess 
{
	width:560px;
	padding-bottom:10px;
	margin:0 10px 10px 10px;
}


fieldset#assess input 
{
	margin-right:3px;
	margin-left:10px;
}

fieldset#assess h5 
{
	display:block;
	width:100%;
	clear:left;
	padding-top:10px;
	padding-left:10px;
}

fieldset#assess br 
{
	height:0;
	display:none;
}

fieldset#assess label
{
	width:275px;
	
}

fieldset#assess span span 
{
	float:left;
	display:inline;
	width:260px;
}
