

/*-------------------------------------------*/
/*               Login                       */
/*-------------------------------------------*/

div.login h3
{
	padding:10px 10px 0px 12px;
	color:#039;
}


dl.loginForm dt, dl.loginForm dd
{
	padding:5px 0 0 0;
}
dl.loginForm label , dl.loginForm  input
{
	margin-left:5px;
}

dt.loginButton a
{
	display:block;
	width:150px;
	text-align:center;
	padding:10px;
	color:#039;
	background:#ddd;
	border:2px solid #666;
	text-decoration:none;
	font-weight:bold;
}

dt.loginButton a:hover 
{
	background:#3c78b5 !important;
	color:#fff !important;
}






/*-------------------------------------------*/
/*        Newsletter Subscribe               */
/*-------------------------------------------*/

div#newsletter 
{
	clear:both;
	margin-top:5px;
	color:#fff;
	padding:5px 10px;
}

div#newsletter h4 
{
	font-size:small;
	padding:0 0 5px 0;
	margin:0;
	border:0;
	
}

div#footer_lblSubscriber 
{
	height:100px !important;
	
}

div#footer_lblSubscriber dl
{

	padding-left:10px;
	list-style:none;
}

div#footer_lblSubscriber dt 
{
	width:40px;
	padding-top:3px;
	float:left;
	display:inline;
}

div#footer_lblSubscriber dd 
{
	width:131px;
	float:left;
	display:inline;
}

div#footer_lblSubscriber input 
{
	width:131px;
	font-size:x-small;
	padding:3px;
}

span.VAMRequiredFieldMarker 
{
	font-size:x-small;
}

input#ctl18_zenpanes_newsLetterControl_btnSubmit 
{
	width:75px !important;
	
	
}

span.VAMErrorText 
{
	font-size:x-small;
}


/*-------------------------------------------*/
/*        Request Brochure                   */
/*-------------------------------------------*/


div.requestbrochure dt{
	float:left; 
	display:inline;
	width:17%;
	clear:left;
	padding-top:5px;
}

div.requestbrochure dd {
	float:left;
	display:inline;
	width:58%;
	padding-top:5px;
}

div.requestbrochure fieldset 
{
	margin:5px 10px;
	padding:10px;
	width:300px;
}




/*---------- Blog -------------------*/

div.agmodules_blog_blogmodule_ascx 
{
	position:relative;
}
div.blogsearch 
{
	position:absolute;
	top:5px;
	right:10px;
	font-size:small;
	text-align:right;
	clear:right;
}

div.blogsearch input 
{
	margin:0 0 2px 2px;
}

div.item 
{
	border-bottom:1px solid #ccc;
	padding:10px 0;
	margin:10px;
	
}

div.recentitem 
{
	color:#fff !important;
	padding:5px;
}

div.recentitem p 
{
	color:#fff !important;
}

/*------------- blog archive --------*/

div.agmodules_blog_blogarchivemodule_ascx 
{
	color:#fff;
	font-family:Verdana, Arial, Sans-Serif;
}

div.agmodules_blog_blogarchivemodule_ascx h2, div.agmodules_blog_blogrecentview_ascx h2
{
	padding:10px 0 0 0;
	margin:5px;
	
}

div.agmodules_blog_blogarchivemodule_ascx td 
{
	padding:2px;
}

p.backtoevents
{
	background:transparent;
	color:#fff;
	font-size:0.8em;
	padding:0 5px 10px 10px;
	
}

p.backtoevents a 
{
	color:#fff;
}

ul.blogarchive li, ul.eventarchives li 
{
	color:#fff;
	padding-left:10px;
	font-size:0.7em;
	padding-right: 5px;
}

ul.eventarchives li a 
{
	font-weight:bold;
	padding-bottom:5px;
}


ul.blogarchive 
{
	float:left;
	display:inline;
	width:40px;
}



