/*-------------------------------------------*/
/*              Provider Search              */
/*-------------------------------------------*/

div.alphalist 
{
	margin:5px 10px 10px 10px;
	padding:5px 10px 10px 0px;
	
}

div.providersearch 
{
	padding:0 10px;
}

div.providersearch fieldset
{
	padding:10px;
	margin:0 10px 10px 10px;
	border:1px solid #ccc;
}

div.providersearch fieldset legend 
{
	padding:0 5px;
}

div.providersearch ul.detaillist li a
{
	border:1px solid #ccc;
	
	padding:5px;
	text-decoration:none;
	
}

div.providerdetails 
{
	border:1px solid #ccc;
}


span#ctl00_ctl04_CenterPane_ctl01_rdlSearchType 
{
	display:block;
	width:100%;
	padding:5px 5px 5px 0;
	line-height:20px;
}
span#ctl00_ctl04_CenterPane_ctl01_rdlSearchType label 
{
	padding:0 5px 0px 2px;
}

div.sLocation label, div.sCategory label 
{
	display:block;
	width:100%;
	padding:5px 0;
}


div.search 
{
	margin:5px 0;
	padding:10px;
	background:#ffffe1;
	border:1px solid #3c78b5;
}

p.toggler 
{
	padding:5px 0;
}

ul.psrlist 
{
	clear:both;
	list-style:none;
	padding-left:10px !important;
}

ul.psrlist li ul 
{
	padding:0 !important;
	margin:0;
	list-style:none;
}

ul.psrlist li ul li a 
{
	font-weight:bold;
}

.psr 
{
	padding:5px 10px;
}

.alt
{
	background:#f5f5f5;
}

div.pagerbar 
{
	
	padding:5px 10px;
	margin:5px 10px;
	text-align:right;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

div.pagerbar p.left
{
	float:left;
	display:inline;
	text-align:left;
	width:45%;
	padding-left:10px;
}

div.providerdetails ul 
{
	list-style:none;
}
div.providerdetails ul.address, div.providerdetails ul.contact, div.providerdetails ul.description 
{
	padding:0 0 15px 10px;
}

li.feedbackdate 
{
	font-size:x-small;
}

li.feedbackresult 
{
	padding:5px 0 10px 0 !important;
	border-bottom:1px solid #ccc;
}

ul.providerfeedback 
{
	padding-left:0 !important;
}

