<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:38Z</date>
		<key>actualSize</key>
		<integer>2600</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:38Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:30:55Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:10:46Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>20D8C7A7-62F1-4C81-BE63-39F97688CB7D</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:30:55Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/living-options/images/memory-care-map.gif</string>
		<key>originalSize</key>
		<integer>2600</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>8E81E046-B3FD-4E0A-BDCE-6B8C80A4FB2E</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
